body{ background-color:floralwhite;

}

main {
	height: 300px;
	width: 100%;
flex-direction: column;

justify-content:center;
align-items:center;
	
	
}



button:hover{
background-color:purple;

}
h1.dark-mode{
background-color:green;
color:brown;

}
body.dark-mode{
background-color:blue;
color:green;
}

